<h1>Welcome to PBNify!</h1>

<h2>Upload an image for PBNification</h2>

<% if @request.errors.any? %>
  <div id="error_explanation">
    <ul>
    <% @request.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @request do |f| %>
  <%= f.file_field :input_image %>
  <%= f.submit %>
<% end %>
