<br /> <br /> <br />

<p class="font-sans text-3xl text-gray-800 text-center">
  Final PBNified Image
</p>

<br /> <br /> <br />

<hr class="border-b m-0" />

<br /> <br /> <br />

<% if @request.output_image.present? %>
  <div class="flex items-center justify-center">
    <%= image_tag(url_for(@request.output_image), height: '40', class: "img-responsive") %>
  </div>
<% else  %>
  <p class="text-red-500">No output available</p>
<% end %>
